@*@model List<BookTrackingSystem.Models.book>*@
@model IEnumerable<BookTrackingSystem.Models.BorrowHistory>
@*@model IEnumerable<BookTrackingSystem.Models.viewModels.EditBookRequest>*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Borrow History";
}

@*check if sign in*@
@if (SignInManager.IsSignedIn(User))
{
    @if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            alert('@TempData["alertMessage"]');
        </script>
    }

}

<div class="form-row">
    <table>
        <tr>
            <form method="get" action="/History/SearchBorrowHistory">

            <td style="padding-right:940px">
            </td>
            <td>
                <input class="form-control" type="text" placeholder="Search for.." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
            </td>
            <td>
                <input type="submit" value="Search" class="btn btn-primary" />
            </td>
            </form>
        </tr>
    </table>
</div>
@*<p>
    <a href="@Url.Action("Index", "ExportExcel")" class="m-btn red">Export To Excel</a>
</p>*@

<h3>@ViewData["Title"]</h3>

<form method="post">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Borrower Name</th>
                <th>Library Card No.</th>
                <th>Book Name</th>
                <th>Borrow Date</th>
                <th>Approved Date</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var borrowDetails in Model)
                {
                    <tr>

                        <td>@borrowDetails.borrowerName</td>
                        <td>@borrowDetails.libraryCardNo</td>
                        <td>@borrowDetails.bookName</td>
                        <td>@borrowDetails.borrowDate</td>
                        <td>@borrowDetails.approvedDate</td>
                        @*                            <td><div class="btn-group btn-group-sm"><a asp-controller="EditBook" asp-action="Edit" asp-route-id="@book.bookID" class="btn btn-primary">Edit</a></div></td>*@
                        @*                      <input type="hidden" name="confirm_value" value="" />*@
                        @*                        <td><input type="submit" value="Appprove" onclick="ConfirmApprove()" asp-controller="BorrowBook" asp-action="ApproveBorrowReq" asp-route-id="@borrow.borrowID" class="btn btn-success" /></td>*@
                        @*                        <td><input type="submit" value="Reject" onclick="ConfirmReject()" asp-controller="BorrowBook" asp-action="RejectBorrowReq" asp-route-id="@borrow.borrowID" class="btn btn-danger" /></td>*@


                    </tr>
                }
            }

            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No history are available at this moment!
                        </div>
                    </td>
                </tr>
            }

        </tbody>

    </table>


    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
        </script>
    }
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        function ConfirmApprove() {
            if (confirm("Confirm Approval?")) {
                $('input[name=confirm_value]').val('Yes');
            }
            else {
                $('input[name=confirm_value]').val('No');
            }
        }
    </script>

    <script type="text/javascript">
        function ConfirmReject() {
            if (confirm("Confirm Reject?")) {
                $('input[name=confirm_value]').val('Yes');
            }
            else {
                $('input[name=confirm_value]').val('No');
            }
        }
    </script>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>



