@*@model List<BookTrackingSystem.Models.book>*@
@model IEnumerable<BookTrackingSystem.Models.book>
@*@model IEnumerable<BookTrackingSystem.Models.viewModels.EditBookRequest>*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Book Details";
}

@*check if sign in*@
@if (SignInManager.IsSignedIn(User))
{
    @if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            alert('@TempData["alertMessage"]');
        </script>
    }

}

  <div class="form-row">
        <table>
            <tr>
            <form method="get" action="/DisplayBook/SearchBook">

                              <td style="padding-right:940px">
                                 </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Search for.." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
                                    </td>
                                    <td>
                                        <input type="submit" value="Search" class="btn btn-primary" />
                                 </td>
                          </form>
                    </tr>
            </table>
   </div>
@*<p>
    <a href="@Url.Action("Index", "ExportExcel")" class="m-btn red">Export To Excel</a>
</p>*@

    <h3>@ViewData["Title"]</h3>

    <form>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Book name</th>
                    <th>Reference No.</th>
                    <th>Author</th>
                    <th>Register Time</th>
                    <th>Issuer</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var book in Model)
                    {
                        <tr>
                            
                            <td>@book.bookName</td>
                            <td>@book.refNo</td>
                            <td>@book.author</td>
                            <td>@book.registerTime</td>
                            <td>@book.issuer</td>
                        @if (book.status == "Available")
                        {
                            <td style="background-color:green">@book.status</td>
                        }

                        @if (book.status == "Borrowed")
                        {
                            <td style="background-color:orange">@book.status</td>
                        }

@*                            <td><div class="btn-group btn-group-sm"><a asp-controller="EditBook" asp-action="Edit" asp-route-id="@book.bookID" class="btn btn-primary">Edit</a></div></td>*@
                        <input type="hidden" name="confirm_value" value="" />
                        <td><input type="submit" value="Edit" asp-controller="EditBook" asp-action="Edit" asp-route-id="@book.bookID" class="btn btn-primary" /></td>
                        <td><input type="submit" value="Borrow" asp-controller="BorrowBook" asp-action="Borrow" asp-route-id="@book.bookID" class="btn btn-primary" /></td>
                            <td>
                                @*<input type="hidden" name="confirm_value" value="" />*@
                            <input type="submit" value="Delete" onclick="Confirm()" asp-controller="EditBook" asp-action="Delete" asp-route-id="@book.bookID" class="btn btn-danger" />
                            </td>

                        </tr>
                    }
                }

                else
                {
                    <tr>
                        <td colspan="6">
                            <div>
                                No books are available at this moment!
                            </div>
                        </td>
                    </tr>
                }

            </tbody>

        </table>


        @if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@TempData["Message"]");
                };
            </script>
        }
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            function Confirm() {
                if (confirm("Confirm delete?")) {
                    $('input[name=confirm_value]').val('Yes');
                }
                else {
                    $('input[name=confirm_value]').val('No');
                }
            }
        </script>
    </form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>



